@font-face{
	font-family:news-gothic-std;
	src:url(https://use.typekit.com/af/60a91b/00000000000000000001316b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7) format("woff2"),url(https://use.typekit.com/af/60a91b/00000000000000000001316b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7) format("woff"),url(https://use.typekit.com/af/60a91b/00000000000000000001316b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7) format("opentype");
	font-weight:700;
	font-style:normal;
}
@font-face{
	font-family:news-gothic-std;
	src:url(https://use.typekit.com/af/cd7aae/00000000000000000001316c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7) format("woff2"),url(https://use.typekit.com/af/cd7aae/00000000000000000001316c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7) format("woff"),url(https://use.typekit.com/af/cd7aae/00000000000000000001316c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7) format("opentype");
	font-weight:700;
	font-style:italic;
}
@font-face{
	font-family:news-gothic-std;
	src:url(https://use.typekit.com/af/05fac7/00000000000000000001316e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4) format("woff2"),url(https://use.typekit.com/af/05fac7/00000000000000000001316e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4) format("woff"),url(https://use.typekit.com/af/05fac7/00000000000000000001316e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4) format("opentype");
	font-weight:400;font-style:italic;
}@font-face{
	font-family:news-gothic-std;
	src:url(https://use.typekit.com/af/419d43/00000000000000000001316d/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4) format("woff2"),url(https://use.typekit.com/af/419d43/00000000000000000001316d/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4) format("woff"),url(https://use.typekit.com/af/419d43/00000000000000000001316d/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4) format("opentype");
	font-weight:400;
	font-style:normal;
}
* {
    box-sizing: border-box;
}
.font300 {
	font-weight: 400 !important;
}
.font700 {
	font-weight: 700 !important;
}
.roodtext {
	color: #83004c !important;
}
html {
    font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    line-height: 1.5em;
}
h1, h2, h3, h4, h5, h6 { 
	font-family: 'news-gothic-std'; 
	font-style: normal;
 	font-weight: 700;
}
body { 
	font-family: 'news-gothic-std'; 
	font-style: normal;
	font-weight: 400;
	margin: 0;
}
#page {
    background-color: #36104f;
    background-image: url(../img/rood.png);
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin-top: 322px;
    padding-top: 42px;
    padding-bottom: 70px;
    background-size: 980px 100%;
    background-position: left 42px;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 0px;
    padding-right: 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    margin: 0 auto;
}
header, #main, #footer {
	width: 1260px;
	margin: 0 auto;
}
#block-menu-secondary-menu.block-menu {
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;
    text-align: right;
    padding-right: 2rem;
}
#block-menu-secondary-menu.block-menu li {
    display: inline-block;
    padding-left: 1rem;
    font-size: 0.9rem;
}
#block-menu-secondary-menu.block-menu li a {
    text-decoration: none;
}
menu, ol, ul {
    padding: 0 0 0 30px;
}
#block-menu-secondary-menu.block-menu {
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;
    text-align: right;
    padding-right: 2rem;
}
#block-menu-secondary-menu.block-menu li {
    display: inline-block;
    padding-left: 1rem;
    font-size: 0.9rem;
}
#block-menu-secondary-menu.block-menu li a {
    text-decoration: none;
}
h1#logo {
	margin: 0;
}
h1#logo a {
    display: block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    background-image: url(../img/ehri_logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    background-size: 90%;
    width: 350px;
    height: 364px;
    margin-left: 910px;
}
.block-menu ul.menu {
    margin: 0;
}
.submenu ul li {
    background-color: transparent;
    background-image: none;
    border-left: medium none;
    display: inline-block;
    float: none;
    list-style-image: none;
    list-style-type: none;
    margin: 0;
    padding: 4px 0 0 6px;
    width: 100%
}
.block-menu>ul.menu>li.expanded>a {
    color: #cecfcf;
    display: block;
    height: 0;
    overflow: hidden;
}
ul.menu {
	padding: 0;
}
#navigation .block-menu {
    border-left: 1px solid #fff;
    height: 42px;
    width: 20%;
    float: left;
    position: relative;
}
#navigation .block-menu>ul {
    width: 100%;
    font-size: 14px;
    line-height: 19px;
    font-weight: bold;
    position: absolute;
    bottom: 0vw;
    left: 0;
}
#navigation .block-menu a {
    font-weight: bold;
    text-decoration: none;
}
#navigation .block-menu.submenu>ul>li.last {
    width: 100%;
    padding: 0;
    height: 42px;
    line-height: 42px;
    margin-top: 14px;
}
#navigation .block-menu a.menubalk {
    display: block;
    width: 100%;
    height: 3vw;
    padding-left: 1vw;
    color: #fff;
    background-color: #83004c;
    box-sizing: border-box;
    text-transform: uppercase;
}
#navigation .block-menu a:hover {
	text-decoration: underline;
	color: #bdbdbd;
}
#navigation {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #cecfcf;
    width: 71vw;
    z-index: 1;
    height: 26vw;
    overflow: hidden;
    width: 910px;
    height: 364px;
}
.view-header-image {
    width: 910px;
    height: 322px;
}
.view-header-image img {
	width: 100%;
    max-width: 100%;
    height: auto;
}
#main-inner {
	background-color: #ecedee;
    overflow: hidden;
    padding: 28px 84px 28px 84px;
}
.funding a {
	text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    background-image: url(../img/eulogo.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    height: 6vw;
    width: 16vw;
    margin-top: 2vw;
}
table {
	width: 100%;
	border: 1px solid #909090;
	font-size: 16px;
    line-height: 40px;
    border-collapse:collapse;
    text-align: center;
    margin-bottom: 40px;
}
table th {
	background: #999999;
	color: #83004c;
}
table tr:nth-child(odd) td{
	background: #cdcfd1;
}
.pull-right {
	float: right;
}
#main-inner h1 {
	font-size: 48px
}
.btn {
	color: #353536;
	font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    padding: 4px 28px;
    font-size: 16px;

}
.inputlabel {
    font-size: 24px;
    line-height: 32px;
    width: 230px;
    display: inline-block;
}
.inputform {
    font-size: 16px;
    line-height: 30px;
    color: #6F003B;
    padding-left: 8px;
    border: 1px solid #6F003B;
    width: 64%;
    display: inline-block;
    vertical-align: middle;
    height: 32px;
}
.input-holder {
	margin-bottom: 30px;
}
.input-holder .btn {
	margin-top: 4px;
}
.btn:hover {
	text-decoration: none;
	font-size: 16px;
	color: #fff;
	background: #6F003B;
}