/*
** FILE STRUCTURE
** General styles
** Page and header
** Main content and form 
*/

/* General styles */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
* {
    box-sizing: border-box;
}
.font300 {
    font-weight: 400 !important;
}
.font700 {
    font-weight: 700 !important;
}
.roodtext {
    color: #83004c !important;
}
html {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    line-height: 1.5em;
        -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}
iframe {
    width: 1091px;
    height: 460px;
    border: 1px solid #909090;
}
.clearfix {
    clear: both;
}
.loader {
    position: absolute;
    display: none;
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
    padding-bottom: 11px;
    text-align: center;
    opacity: .3;
    background: #000000;
}
.loader img {
    width: 100px;
}
.loader_img {
    line-height: 150px;
}
.btn.active, .btn:hover, .btn:focus {
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    border: none;
    outline: none;
    background: #6f003b;
}
.btn:disabled {
    cursor: not-allowed;
    color: #9e9e9e;
}
table {
    font-size: 16px;
    line-height: 40px;
    width: 100%;
    margin-bottom: 40px;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid #909090;
}
table th {
    color: #83004c;
    background: #999999;
}
table tr:nth-child(odd) td {
    background: #cdcfd1;
}
.btn.active:hover, .btn {
    font-size: 16px;
    font-weight: bold;
    padding: 4px 28px;
    cursor: pointer;
    text-decoration: underline;
    text-transform: uppercase;
    color: #353536;
    border: none;
    background: transparent;
}
.pull-right {
    float: right;
}
/* /General styles */

/* Page and header */
#page {
    margin-top: 322px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 42px;
    padding-bottom: 70px;
    background-color: #36104f;
    background-image: url(../img/rood.png);
    background-repeat: no-repeat;
    background-position: left 42px;
    background-size: 980px 100%;
}
header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
    word-wrap: break-word;
        -ms-box-sizing: border-box;
}
header, #main, #footer {
    width: 1260px;
    margin: 0 auto;
}
menu, ol, ul {
    padding: 0 0 0 30px;
}
h1#logo {
    margin: 0;
}
h1#logo a {
    display: block;
    display: block;
    overflow: hidden;
    width: 350px;
    height: 364px;
    margin-left: 910px;
    white-space: nowrap;
    text-indent: 100%;
    background-color: #ffffff;
    background-image: url(../img/ehri_logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}
.block-menu ul.menu {
    margin: 0;
}
.submenu ul li {
    display: inline-block;
    float: none;
    width: 100%;
    margin: 0;
    padding: 4px 0 0 6px;
    list-style-type: none;
    list-style-image: none;
    border-left: medium none;
    background-color: transparent;
    background-image: none;
}
ul.menu {
    padding: 0;
}
#navigation .block-menu {
    position: relative;
    float: left;
    width: 20%;
    height: 42px;
    border-left: 1px solid #ffffff;
}
#navigation .block-menu > ul {
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
#navigation .block-menu a {
    font-weight: bold;
    text-decoration: none;
}
#navigation .block-menu.submenu > ul > li.last {
    line-height: 42px;
    width: 100%;
    height: 42px;
    margin-top: 14px;
    padding: 0;
}
#navigation .block-menu a.menubalk {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding-left: 16px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #83004c;
}
#navigation .block-menu a:hover {
    text-decoration: underline;
    color: #bdbdbd;
}
#navigation {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 71vw;
    width: 910px;
    height: 26vw;
    height: 364px;
    background-color: #cecfcf;
}
.view-header-image {
    width: 910px;
    height: 322px;
}
.view-header-image img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
#main-inner {
    overflow: hidden;
    padding: 28px 84px 28px 84px;
    background-color: #ecedee;
}
.funding a {
    display: block;
    overflow: hidden;
    width: 270px;
    height: 101px;
    margin-top: 34px;
    white-space: nowrap;
    text-indent: 100%;
    background-image: url(../img/eulogo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}
/* /Page and header */

/* Main content and form */
#main-inner h1 {
    font-size: 48px;
}

.inputlabel {
    font-size: 24px;
    line-height: 36px;
    display: inline-block;
    width: 270px;
    vertical-align: middle;
}
.inputform {
    font-size: 16px;
    line-height: 30px;
    display: inline-block;
    width: 55%;
    height: 32px;
    padding-left: 8px;
    vertical-align: middle;
    color: #6f003b;
    border: 1px solid #6f003b;
}
#iframe_holder,
.input-holder {
    margin-bottom: 30px;
}

.radio-holder {
    display: inline-block;
}
.radio-label {
    cursor: pointer;
}
#iframe_holder, .google, #google-iframe, .success_notes, #incomesource, #outcomesource, #localfilesource {
    display: none;
}
.success_notes p {
    font-size: 24px;
    padding: 6px 0;
    text-align: center;
    color: #ffffff;
    background-color: #83004c !important;
}
.success_notes .btn.last {
    margin-right: 10px;
}
/* /Main content and form */